# Sets in Python

**Properties of sets**

    1) Duplicates are not allowed 
    2) Heterogeneous data allowed 
    3) Sets are mutable in nature
    4) Curly brackets to create the sets
    5) Values in the sets are always sorted in the ascending order 
    6) We cannot slice the sets as there is no concepts of index in the sets

In [135]:
set1 = {21,22,12,21,43,44,32,21,10}

In [5]:
len(set1)

7

In [6]:
min(set1)

10

In [7]:
max(set1)

44

In [8]:
del set1

In [11]:
set1

{10, 12, 21, 22, 32, 43, 44}

In [14]:
set1 = {'A',12,10.5,True}

In [15]:
set1

{10.5, 12, 'A', True}

**add** - Add will add the single value in the set based on the ascending order

In [20]:
set1.add(100)

In [22]:
set1.add(5)

In [23]:
set1

{5, 10, 12, 21, 22, 32, 43, 44, 100}

**update** - Helps to add the multiple values in the set

In [25]:
set1.update([101,102,103])

In [26]:
set1

{5, 10, 12, 21, 22, 32, 43, 44, 100, 101, 102, 103}

**clear** - Clear the values from the set, the structure will be there or set1 variable will be there, it just remove the values from the set

In [27]:
set1.clear()

In [28]:
set1

set()

**copy()** - Copy will create a backup of the set

In [30]:
set2 = set1.copy()

In [31]:
id(set1)

2092957220416

In [32]:
id(set2)

2092957435040

In [33]:
set1

{10, 12, 21, 22, 32, 43, 44}

**discard** - It removes the value from the set, discard if we run again when the value is not there, it will still run but does not have any impact on the set plus there will not be any error

In [114]:
set1.discard(44)

In [115]:
set1

{10, 12, 21, 22, 32}

**remove** - It removes the value from the set and if the value is not present it will throw the error

In [116]:
set1.remove(43)

KeyError: 43

**pop** - Need to check the change in the logic

In [136]:
set1

{10, 12, 21, 22, 32, 43, 44}

In [137]:
set1.pop()

32

In [151]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
set3 = {5,6,7,8}
set4 = {10,11,12,13}

**difference** - It will give all the values from set1, which are not common

In [140]:
set1.difference(set3)

{1, 2, 3, 4}

**difference_update** - It will give update the values of set1 from set1.difference(set3), which are not common

In [143]:
set1.difference_update(set3)

In [144]:
set1

{1, 2, 3, 4}

**symmetric_difference** - It will give all the values from set1 and set3, which are not common

In [141]:
set1.symmetric_difference(set3)

{1, 2, 3, 4, 7, 8}

**symmetric_difference_update** - It will update set1 with all the uncommon values from set1 and set3

In [146]:
set1.symmetric_difference_update(set3)

In [147]:
set1

{1, 2, 3, 4, 7, 8}

**intersection** - It will give all the values from set1 and set3, which are common

In [142]:
set1.intersection(set3)

{5, 6}

**intersection_update** - It will update set1 with all the values from set1 and set3, which are common

In [149]:
set1.intersection_update(set3)

In [164]:
set1

{1, 2, 3, 4, 5, 6}

In [152]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
set3 = {5,6,7,8}
set4 = {10,11,12,13}

**isdisjoint** - It will give the output in True or False, if there are no common values it will give True

In [153]:
set1.isdisjoint(set4)

True

**issuperset** - All the elements of set2 are present in set1

In [154]:
set1.issuperset(set2)

True

**issubset** - Set1 consists of all the values of set2 and some extra value as well

In [155]:
set2.issubset(set1)

True

**Union** - It will combine the values of the multiple sets, this is same as Union in SQL and not Union All

In [157]:
output = set1.union(set4)

In [158]:
output

{1, 2, 3, 4, 5, 6, 10, 11, 12, 13}

**Frozenset** - Immutable in nature

In [160]:
fsset = frozenset(set1)

In [162]:
type(fsset)

frozenset

In [165]:
fsset

frozenset({1, 2, 3, 4, 5, 6})

**Sets** - When we are having duplicates and we need to remove those then we can create the set and all the duplicates will get removed

# Dictionaries

**Its a key value pair concept where keys and values are seperated by colon :**

    1) Created by curly brackets

In [166]:
student_details = {'stuid':1, 'sname':'A','sregion':'N'}

In [168]:
type(student_details)

dict

In [179]:
student_details = {'stuid':[1,2,3,4,5], 'sname':['A','B','C','D','E'], 'sregion':['N','S','S','E','W']}

**We can pass tuple as well in place of list, but the values will not get updated when it is a tuple**

In [170]:
student_details

{'stuid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

In [173]:
student_details['stuid'][0]=10

**Length command will count the number of Key Value pairs**

In [175]:
len(student_details)

3

**clear** - It will clear the values from the dictionary and make it as an empty dictionary

In [177]:
student_details.clear()

In [178]:
student_details

{}

**copy** - It will create a backup of the dictionary

In [180]:
stu_dict = student_details.copy()

In [181]:
id(student_details)

2092955480640

In [182]:
id(stu_dict)

2092956249408

**get** - It will give the values of the key passed in that command

In [183]:
student_details.get('stuid')

[1, 2, 3, 4, 5]

In [184]:
student_details['stuid']

[1, 2, 3, 4, 5]

**items** - It will give all the key value pairs together

In [185]:
student_details.items()

dict_items([('stuid', [1, 2, 3, 4, 5]), ('sname', ['A', 'B', 'C', 'D', 'E']), ('sregion', ['N', 'S', 'S', 'E', 'W'])])

**keys** - It will give all the keys from the dictionary

In [186]:
student_details.keys()

dict_keys(['stuid', 'sname', 'sregion'])

**values** - It will give all the values from the dictionary

In [187]:
student_details.values()

dict_values([[1, 2, 3, 4, 5], ['A', 'B', 'C', 'D', 'E'], ['N', 'S', 'S', 'E', 'W']])

**pop** - Pop will remove the key value pair of that key passed inside the bracket

In [189]:
student_details.pop('stuid')

[1, 2, 3, 4, 5]

In [191]:
student_details['stu_name'] = student_details.pop('sname')

**popitem** - It will remove the last key value pair

In [193]:
student_details.popitem()

('stu_name', ['A', 'B', 'C', 'D', 'E'])

**setdefault** - It will create a new key with None as value

In [195]:
student_details.setdefault('Sname')

In [196]:
student_details

{'sregion': ['N', 'S', 'S', 'E', 'W'], 'Sname': None}

In [198]:
student_details['Sname'] = ['A','B','C','D','E']

In [200]:
student_details.setdefault('Sname')

['A', 'B', 'C', 'D', 'E']

In [201]:
student_details

{'sregion': ['N', 'S', 'S', 'E', 'W'], 'Sname': ['A', 'B', 'C', 'D', 'E']}

**We cannot have the same keys multiple times**

In [202]:
dict1 = {'A':1,'A':2}

In [203]:
dict1

{'A': 2}

In [204]:
dict1 = {1:2,3:4,5:6}
dict2 = {1:10,10:12}

In [206]:
dict1.update(dict2)

In [207]:
dict1

{1: 10, 3: 4, 5: 6, 10: 12}

In [209]:
stu_dict

{'stuid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

In [210]:
import pandas as pd

In [211]:
pd.DataFrame(stu_dict)

   stuid sname sregion
0      1     A       N
1      2     B       S
2      3     C       S
3      4     D       E
4      5     E       W

**Range** - It generates the number from the given range

In [212]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [213]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [217]:
list(range(100,10,-10))

[100, 90, 80, 70, 60, 50, 40, 30, 20]

**NoneType** -  It is like a placeholder, we dont know the value but in future value may come

In [218]:
Output = None

In [227]:
type(Output)

NoneType

# Operators in Python

**Arithmetic**

    1) + (Addition) 
    2) - (Subtraction)
    3) * (Multiplication)
    4) / (Division)
    5) // (Floor Division)
    6) % (Modulo)
    7) ** (Power)

In [228]:
num1 = 10
num2 = 3
print('num1+num2: ', num1+num2)
print('num1-num2: ', num1-num2)
print('num1*num2: ', num1*num2)
print('num1/num2: ', num1/num2)
print('num1//num2: ', num1//num2)
print('num1%num2: ', num1%num2)
print('num1**num2: ', num1**num2)

num1+num2:  13
num1-num2:  7
num1*num2:  30
num1/num2:  3.3333333333333335
num1//num2:  3
num1%num2:  1
num1**num2:  1000

**When there are two string will be concatenate if we use + in between**

In [229]:
'rahul' + 'tiwari'

'rahultiwari'

In [230]:
'10'+'20'

'1020'

**type casting - Converting the data into an integer from the string**

In [231]:
int('10') + int('20')

30

**Relational or comparison**

    1) < - Less Than 
    2) <= - Less Than Equal to 
    3) > - More Than 
    4) >= - More Than Equal to

In [232]:
num1 = 10 
num2 = 3
print('num1<num2: ', num1<num2)
print('num1<=num2: ', num1<=num2)
print('num1>num2: ', num1>num2)
print('num1>=num2: ', num1>=num2)

num1<num2:  False
num1<=num2:  False
num1>num2:  True
num1>=num2:  True

**Equality**

    1) == - Equals to 
    2) != - Not Equals to

In [236]:
num1 = 10 
num2 = 3
print('num1==num2: ', num1==num2)
print('num1!=num2: ', num1!=num2)

num1==num2:  False
num1!=num2:  True

**Assignment Operator**

    1) +=
    2) -=
    3) *=
    4) /=
    5) //=
    6) %=
    7) **=

In [237]:
num1 = 10
num1+=30
num1

40

In [239]:
num1 = 10 
num1%=3
num1

1

In [240]:
num1 = 10 
num1//=3
num1

3

**Ternary**

In [241]:
10 if 10>20 else 30

30

In [242]:
10 if 10<20 else 30

10

In [243]:
10 if 10>7>9 else 9 if 7>9 else 7

7

In [244]:
10 if 10>7 and 10>9 else 9 if 7>9 else 7

10

In [245]:
10 if 10>7 or 1>9 else 9 if 7>9 else 7

10

**Special**

    1) Identity Operator
        a) is
        b) is not
        
    2) Membership Operator
        a) in 
        b) not it
        
        
**Python by default generates number from -5 to 256 internally while launched, so if we are creating any number between this range it will use the initialied number that is why the memory location coming as same, however if we are going outside the range it will create seperate numbers for every instance and -5 to 256 range holds true only for the integers, it will not hold true for floats as there will be various infinte numbers between two numbers like 250.5 and 250.6 we can can have many numbers between this range**

In [248]:
a=10 
b=10
print(id(a))
print(id(b))
a is b

2092836874832
2092836874832

True

In [255]:
a=250.5
b=250.5
print(id(a))
print(id(b))
a is not b

2093369750128
2093369750416

True

In [257]:
list1 = [10,20,30,40,50]
50 not in list1

False

# Input and Output

**input - It will always stores the value in the form of a string**

In [261]:
marks = int(input('Enter the marks: '))

Enter the marks: 25

In [262]:
type(marks)

int

In [263]:
marks

25

In [270]:
print('Hi',end='\n')
print('Hello',end='\n')
print('How are you? ', end='\n')

Hi
Hello
How are you?

In [271]:
print('Hi',end=' ')
print('Hello',end=' ')
print('How are you? ', end=' ')

Hi Hello How are you?

In [277]:
a = 'Rahul'
b = 'Gaurav'
c = 'Vaibhavi'
print(a,sep='$',end='\n')
print(b,sep='$')
print(c,sep='$')

print(a,b,c,sep='$')

Rahul
Gaurav
Vaibhavi
Rahul$Gaurav$Vaibhavi

In [269]:
print('Hi Hello How are you?')

Hi Hello How are you?

In [278]:
name = 'Rahul'
company = 'The Scholar'
salary = 10000
print('Hello', name, 'Your company is: ', company, 'Your salary is: ', salary)

Hello Rahul Your company is:  The Scholar Your salary is:  10000

In [280]:
print('Hello {}, your salary is {} and your company is {}'.format(name,salary,company))

Hello Rahul, your salary is 10000 and your company is The Scholar

In [281]:
print('Hello {}, your salary is {} and your company is {}'.format(company,name,salary))

Hello The Scholar, your salary is Rahul and your company is 10000

In [282]:
print('Hello {1}, your salary is {2} and your company is {0}'.format(company,name,salary))

Hello Rahul, your salary is 10000 and your company is The Scholar

In [283]:
print('Hello {n}, your salary is {s} and your company is {c}'.format(c=company,n=name,s=salary))

Hello Rahul, your salary is 10000 and your company is The Scholar