**Functional Programming**

In [1]:
def celtofer(c):
    f = (c*9/5)+32
    return f

In [2]:
celtofer(10)

50.0

**Object Oriented Programming**

In [ ]:
__init__ : Constructor, the purpose of constructor is to initialize the variables 
    
Python internally passes the value of self

In [9]:
class Celtofer:
    def __init__(self,c):
        self.c = c 
    
    def ctof(self):
        f = (self.c*9/5)+32
        print(f)

In [10]:
c1 = Celtofer(10)
c1.ctof()

50.0

In [11]:
Celtofer(10)

In [8]:
c2 = Celtofer(20)
c2.ctof()

68.0

In [12]:
Celtofer(20)

In [14]:
a = [1,2,3,4,5]
print(type(a))

<class 'list'>

In [55]:
class Employee: 
    company = 'SBI'
    #Class level variables or Static variables
    def __init__(self,eid,efname,elname,esalary,elocation):
        #Object level variables / Instance variables / self
        self.eno = eid
        self.efname = efname
        self.elname = elname
        self.esalary = esalary
        self.elocation = elocation
        
    def display(self):
        print('Your employee id is: ', self.eno)
        print('Your name is: ', self.efname + ' ' + self.elname)
        print('Your salary is: ', self.esalary)
        print('Your location is: ', self.elocation)
        print('Your company name is: ', Employee.company)
        
    def tax_calc(self):
        if self.esalary<=2500:
            print('The total tax you have to pay is: ', self.esalary*0.0)
        elif self.esalary>2500 and self.esalary<=5000:
            print('The total tax you have to pay is: ', self.esalary*0.05)
        elif self.esalary>5000 and self.esalary<=10000:
            print('The total tax you have to pay is: ', self.esalary*0.1)
        elif self.esalary>10000 and self.esalary<=15000:
            print('The total tax you have to pay is: ', self.esalary*0.15)
        else:
            print('The total tax you have to pay is: ', self.esalary*0.20)
    
            
    def bonus_calc(self):
        if self.elocation=='Delhi':
            print('You bonus amount is: ', 0.5*self.esalary)
        else:
            print('You will not get the bonus')
            
    def hike_calc(self):
        #Local variable / Method level
        hike = 0.30
        if self.esalary<5000:
            print('Your total hike is: ', self.esalary*hike)
        else:
            print('You will not get the hike')

In [56]:
emp1 = Employee(1,'Himanshu','Dave',10000,'Delhi')
emp1.display()
emp1.tax_calc()
emp1.bonus_calc()
emp1.hike_calc()
emp1.efname

Your employee id is:  1
Your name is:  Himanshu Dave
Your salary is:  10000
Your location is:  Delhi
Your company name is:  SBI
The total tax you have to pay is:  1000.0
You bonus amount is:  5000.0
You will not get the hike

'Himanshu'

In [50]:
emp2 = Employee(2,'Pranshu','Khare',15000,'Gurgaon')
emp2.display()
emp2.tax_calc()
emp2.bonus_calc()
emp2.hike_calc()
emp2.efname

Your employee id is:  2
Your name is:  Pranshu Khare
Your salary is:  15000
Your location is:  Gurgaon
Your company name is:  SBI
The total tax you have to pay is:  2250.0
You will not get the bonus
You will not get the hike

'Pranshu'

In [51]:
emp3 = Employee(3,'Rahul','Tiwari',3000,'Gurgaon')
emp3.display()
emp3.tax_calc()
emp3.bonus_calc()
emp3.hike_calc()
emp3.efname

Your employee id is:  3
Your name is:  Rahul Tiwari
Your salary is:  3000
Your location is:  Gurgaon
Your company name is:  SBI
The total tax you have to pay is:  150.0
You will not get the bonus
Your total hike is:  900.0

'Rahul'

**Composition (Has a relationship)**

In [60]:
class SBI:
    interest_rate_home_loans = 0.010
    interest_rate_car_loans = 0.095
    interest_rate_personal_loans = 0.15

In [61]:
class Interest_Calc:
    def __init__(self,cid,cloan_amt,cltype):
        self.cid = cid
        self.cloan_amt = cloan_amt
        self.cltype = cltype
        self.sbi = SBI()
        
    def interest_calc(self):
        if self.cltype == 'Home':
            print('Your total interest is: ', self.sbi.interest_rate_home_loans*self.cloan_amt)
        elif self.cltype == 'Car':
            print('Your total interest is: ', self.sbi.interest_rate_car_loans*self.cloan_amt)
        else:
            print('Your total interest is: ', self.sbi.interest_rate_personal_loans)

In [62]:
cust1 = Interest_Calc(1,100000,'Home')
cust1.interest_calc()

Your total interest is:  1000.0

**Inheritance (Is a relationship)**

**Single Inheritance**

In [64]:
class P:
    def m1(self):
        print('Method 1')
        
class C(P):
    def m2(self):
        print('Method 2')

In [65]:
c1 = C()
c1.m1()
c1.m2()

Method 1
Method 2

In [66]:
class SBI:
    interest_rate = 0.08
    def display(self):
        print('The interest rate is: ', SBI.interest_rate)

In [67]:
class Home_Loan(SBI):
    def __init__(self,cid,cname,cloan_amount):
        self.cid = cid
        self.cname = cname
        self.cloan_amount = cloan_amount
        
    def interest_calc(self):
        print('The total interest is: ', self.cloan_amount*SBI.interest_rate)

In [69]:
cus1 = Home_Loan(1,'A',10000)
cus1.display()
cus1.interest_calc()

The interest rate is:  0.08
The total interest is:  800.0

**Multilevel Inheritance**

In [70]:
class P:
    def m1(self):
        print('Method M1')
        
class C(P):
    def m2(self):
        print('Method M2')
        
class SC(C):
    def m3(self):
        print('Method M3')

In [71]:
sc1 = SC()
sc1.m3()
sc1.m2()
sc1.m1()

Method M3
Method M2
Method M1

In [72]:
c1 = C()
c1.m1()
c1.m2()

Method M1
Method M2

**Hierarchical Inheritance**

In [73]:
class P:
    def m1(self):
        print('Method m1')
        
class C1(P):
    def m2(self):
        print('Method M2')
        
class C2(P):
    def m3(self):
        print('Method M3')

In [74]:
c2 = C2()
c2.m3()
c2.m1()

Method M3
Method m1

In [75]:
c1 = C1()
c1.m2()
c1.m1()

Method M2
Method m1

**Multiple Inheritance**

In [76]:
class P1:
    def m1(self):
        print('Method M1')
        
class P2:
    def m2(self):
        print('Method M2')
        
class C(P1,P2):
    def m3(self):
        print('Method M3')

In [77]:
c1 = C()
c1.m3()
c1.m2()
c1.m1()

Method M3
Method M2
Method M1

In [83]:
class P1:
    def m1(self):
        print('Method M1 P1')
        
class P2:
    def m1(self):
        print('Method M1 P2')
        
class C(P2,P1):
    def m3(self):
        print('Method M3')

In [84]:
c1 = C()
c1.m1()
c1.m3()

Method M1 P2
Method M3

**Banking Application**

In [88]:
import sys
class SBI:
    '''SBI class with banking operations'''
    bankname = 'SBI'
    
    def __init__(self,name,balance = 0.0):
        self.name = name
        self.balance = balance
    
    def deposit(self,amount):
        self.balance = self.balance + amount
        print('The balance after deposit: ', self.balance)

    def withdraw(self,amount):
        if amount>self.balance:
            print('Insufficent funds, cannot perform this operation')
            sys.exit()
        else:
            self.balance = self.balance - amount
            print('The balance after withdraw: ', self.balance)

In [90]:
print('Welcome to', SBI.bankname)
name = input('Enter your name: ')
c = SBI(name)

while True:
    print('d-Deposit\nw-Withdraw\ne-Exit')
    option = input('Choose your option: ').lower()
    if option=='d':
        amount = float(input('Enter the amount to deposit: '))
        c.deposit(amount)
    elif option=='w':
        amount = float(input('Enter the amount to withdraw: '))
        c.withdraw(amount)
    elif option=='e':
        print('Thank you for banking with us!!!')
        sys.exit()
    else:
        print('Invalid option, please choose the valid option')

Welcome to SBI
Enter your name: Rahul
d-Deposit
w-Withdraw
e-Exit
Choose your option: d
Enter the amount to deposit: 1000
The balance after deposit:  1000.0
d-Deposit
w-Withdraw
e-Exit
Choose your option: w
Enter the amount to withdraw: 250
The balance after withdraw:  750.0
d-Deposit
w-Withdraw
e-Exit
Choose your option: e
Thank you for banking with us!!!

SystemExit: