# Slicing and Indexing

In [1]:
company = 'The Scholar'

In [3]:
type(company)

str

In [4]:
company

'The Scholar'

**Slicing will always happens with a [] square bracket**

In [5]:
company[4]

'S'

**When you are calling a function it will always be using () normal brackets**

By default the slicing happens from left to right
company[7:1:1] - The last +1 is the direction, if it is a positive value it will be left to right and if it is a negative value it will be from right to left

In [18]:
company[4:7:1]

'Sch'

In [10]:
company[2:7]

'e Sch'

In [11]:
company[0:9]

'The Schol'

In [19]:
company[7:1:-3]

'oS'

In [20]:
company[10]

'r'

In [21]:
company[-1]

'r'

In [22]:
company[4]

'S'

In [23]:
company[-7]

'S'

In [24]:
company[-8:-2]

' Schol'

In [25]:
company[-8:7]

' Sch'

In [26]:
company[2:-2]

'e Schol'

In [27]:
company[7:-8:-1]

'ohcS'

In [28]:
company[-3:-9:-1]

'lohcS '

In [29]:
company[1:-11:-1]

'h'

**In the below example there is no starting and ending point so it will start from the start and end till the end**

In [30]:
company[::-1]

'ralohcS ehT'

In [31]:
company[:5:-1]

'raloh'

In [32]:
company[5::-1]

'cS ehT'

In [33]:
company[-5::]

'holar'

In [34]:
company[-5:-7:-2]

'h'

# Data Structures in Python

**What are the in-built data structures are there in python**
    
    1) Lists 
        
        a) Lists are always created using [] brackets
        b) Lists can have heterogeneous data i.e. We can have different datatypes 
        c) Duplicates are entertained
        d) Lists are growable in nature - You can add more values in the list
        e) Lists are mutable in nature - We can add, update, delete from the list without changing the memory location
    
    2) Tuples 
        a) Tuples are always created using the () brackets
        b) Tuples can have heterogeneous data i.e. We can have different datatypes 
        c) Duplicates are entertained
        d) Tuples are not growable in nature - You cannot add, remove, update anything in the tuples
        e) Tuples are immutable in nature - You cannot change the value
    
    3) Sets 
    
    4) Dictionaries

In [37]:
list1 = ['A',10,5.5,True,'A']

In [38]:
type(list1)

list

In [57]:
sum(list1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
list1[1:4:-1]

[]

In [47]:
type(list1[4])

str

In [84]:
ages = [21,23,33,22,22,33,44,22,44,55,44,22,11,23]

In [55]:
len(ages)

14

In [56]:
sum(ages)

419

In [58]:
min(ages)

11

In [59]:
max(ages)

55

In [62]:
sum(ages)/len(ages)

29.928571428571427

**Functions of Lists**

**append() - It appends a value inside the list at the end, append can take only one arguement**

In [67]:
ages.append(100)

**In the below example append considers below list [100,200] as a single arguement, it inserted the value inside the list as a list, list of list**

In [69]:
ages.append([100,200])

In [71]:
len(ages)

17

In [73]:
ages[16]

[100, 200]

In [75]:
ages[-1]

[100, 200]

In [78]:
ages[16][1]

200

In [79]:
ages

[21, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23, 100, 100, [100, 200]]

In [80]:
del ages[-1]

In [81]:
ages

[21, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23, 100, 100]

**clear() - It will clear all the list elements and keep the list as is as an empty list**

In [82]:
ages.clear()

**copy() - Copy command create the actual backup of the list, ages is in one memory location and ages1 is in the another memory location, ages2 = ages will point to the same list**

In [86]:
ages1 = ages.copy()

In [90]:
ages2 = ages

In [98]:
id(ages)

2925853506816

In [93]:
id(ages1)

2925853531712

In [100]:
id(ages2)

2925853506816

In [96]:
ages[0] =22

In [99]:
ages

[22, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23]

In [101]:
ages2

[22, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23]

In [102]:
ages1

[21, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23]

In [103]:
del ages2

In [105]:
del ages1

In [108]:
ages

[22, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23]

**count() - Count the number of values in the list**

In [107]:
ages.count(22)

5

**extend() - It will add multiple values in the list as an individual elements, we have to pass a list of values**

In [112]:
ages.extend([10,20])

In [113]:
ages

[22, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23, 10, 20]

**index() - It will always gives the first index of the value**

In [115]:
ages.index(23)

1

**insert() - It will insert a value at a particular index position**

In [116]:
ages.insert(7,100)

In [122]:
ages

[22, 23, 33, 22, 22, 33, 44, 100, 22, 44, 55, 44, 22, 11, 23, 10]

**pop() - It takes one or zero arguements. If we are not passing any arguement then it will remove the last value, however, if we pass the index of any specific value it will remove that indexed value**

In [123]:
ages.pop(9)

44

**remove() - It takes one arguement and that is the value which is present in the list. If there are duplicates it will remove the first instance of the duplicates**

In [127]:
ages.remove(100)

In [129]:
ages.remove(23)

In [130]:
ages

[22, 33, 22, 22, 33, 44, 22, 55, 44, 22, 11, 23, 10]

**reverse() - It will flip the list**

In [131]:
ages.reverse()

In [132]:
ages

[10, 23, 11, 22, 44, 55, 22, 44, 33, 22, 22, 33, 22]

**sort() - By default the sorting happens is an ascending order, if we want to do the descending order then we can pass the reverse arguemnt inside the sort function as True**

In [133]:
ages.sort()

In [135]:
ages.sort(reverse=True)

In [136]:
ages

[55, 44, 44, 33, 33, 23, 22, 22, 22, 22, 22, 11, 10]

**Tuples**

In [137]:
salary = (23,43,22,33,22,11,22,44,33)

In [138]:
type(salary)

tuple

In [139]:
tuple1 = ('A',10,10.5,True)

In [141]:
tuple1[0] = 23

TypeError: 'tuple' object does not support item assignment

In [142]:
salary.count(22)

3

In [143]:
salary.index(22)

2

**Lists - We can use where we can change the values frequently**

**Tuples - We can use where we cannot change the value frequently or never**

**How can we change the values in the Tuples**

    1) Convert the tuple to a list 
    2) As lists are mutable lets change the value in the converted list
    3) We will convert the list back to the tuple 
    
    Memory location will change - It will overwrite the previous tuple hence, it will change the memory location.

In [148]:
salary
id(salary)

2925818507152

In [145]:
a = list(salary)

In [147]:
a[0] = 22

In [149]:
salary = tuple(a)

In [150]:
id(salary)

2925855107664