**Filter()** - filter(function, list) - It will take two inputs one is the UDF (User Defined function) and second is one list or tuple or set
If we are passing 5 values in the filter function it will give 5 or less than five values


**Map()** - map(function, list) - It will take two inputs one is the UDF and other is the list, tuple, sets etc. 
If we pass 5 values in the map function it will return 5 values


**Reduce()** - reduce(function, list) - It will take two inputs one is the UDF and other is the list, tuple, sets etc. 
If we pass 5 values in the reduce function it will return 1 value

**Filter()**

**Filtering the even numbers from the list**

In [5]:
list_num = [10,11,14,21,23,32,22]
list(filter(lambda x:x%2==0,list_num))

[10, 14, 32, 22]

In [4]:
evenodd = lambda x:x%2==0
evenodd(10)

True

**Filter account balance more than 5000**

In [6]:
accounts = [{'account_number':1234, 'Balance':5000},
           {'account_number':2222, 'Balance':8000},
           {'account_number':1111, 'Balance':4500},
           {'account_number':1000, 'Balance':7000},
           {'account_number':9999, 'Balance':1000}]

In [7]:
list(filter(lambda acc:acc['Balance']>5000, accounts))

[{'account_number': 2222, 'Balance': 8000},
 {'account_number': 1000, 'Balance': 7000}]

**Map()**

**Double the numbers**

In [9]:
list_num = [10,11,14,21,23,32,22]

In [10]:
def double(x):
    return 2*x

In [11]:
list(map(double,list_num))

[20, 22, 28, 42, 46, 64, 44]

In [14]:
list(map(lambda x:x*2, list_num))

[20, 22, 28, 42, 46, 64, 44]

**Interest Calculations**

In [16]:
account_balance = [1000,2000,1500,5000,2000,3000]
interest_rate = 0.05

calculate_interest = lambda balance : balance * interest_rate

list(map(calculate_interest,account_balance))

[50.0, 100.0, 75.0, 250.0, 100.0, 150.0]

**Reduce()**

In [21]:
list_num

[10, 11, 14, 21, 23, 32, 22]

In [19]:
from functools import *
reduce(lambda x,y:x+y,list_num)

133

**Total account balance**

In [22]:
account_balance = [1000,2000,3000,-4000,-1000,10000]
reduce(lambda acc1,acc2: acc1+acc2, account_balance)

11000

**Maximum account balance**

In [23]:
reduce(lambda acc1,acc2:max(acc1,acc2), account_balance)

10000

**Accumulated Interest Calculations**

In [25]:
account_balance = [1000,2000,3000,4000,1000,10000]
print(account_balance)
interest = 0.05
accumulated_interest = lambda acc1,acc2:acc1+(acc2*interest_rate)
total_interest = reduce(accumulated_interest,account_balance,0)
print("Total Interest: ", total_interest)

[1000, 2000, 3000, 4000, 1000, 10000]
Total Interest:  1050.0

# String Operations

**strip(), lstrip(), rstrip()**

We have 3 funtions strip(), lstrip() and rstrip(), if you want to remove values from both the side then we have the strip function and if you want to strip from the left side we can use the lstrip and from the right side we can use the rstrip 

If we have to take care of multiple characters we can go with multiple strip functions

In [35]:
cities = ['Surat','Ahmedabad','Mumbai','Delhi','Gurgaon']

city = input('Enter the city: ').strip().strip('$')

if city in cities:
    print('Your city', city, 'is present')
else:
    print('Your city', city, 'is not present')

Enter the city:     Surat$$$
Your city Surat is present

In [37]:
cities = ['Surat','Ahmedabad','Mumbai','Delhi','Gurgaon']

city = input('Enter the city: ').lstrip().rstrip('$')

if city in cities:
    print('Your city', city, 'is present')
else:
    print('Your city', city, 'is not present')

Enter the city: $$$Surat
Your city $$$Surat     is not present

**find(), rfind()**

find and rfind will give the index from the start of the character which you are searching 

find and rfind will give -1 if the value is not present 

we can give the range also from where to where you have to search the character

In [38]:
name = 'The Scholar'
name.find('S')

4

In [39]:
name.find('h')

1

In [40]:
name.find('h',5,9)

6

In [41]:
name.find('V')

-1

In [42]:
name = 'The Scholar'
name.rfind('S')

4

In [43]:
name = 'The Scholar'
name.rfind('h')

6

In [44]:
name = 'The Scholar'
name.rfind('h',0,5)

1

In [45]:
name = 'The Scholar'
name.rfind('V')

-1

**Finding the instances of the character in the string**

In [48]:
string = 'rahululul'

lookingfor = input('What are you looking for: ')
flag = False
pos = -1
n = len(string)
while True:
    pos = string.find(lookingfor,pos+1,n)
    if pos==-1:
        break
    else:
        print('Found at index: ', pos)
        flag=True
if flag==False:
    print('Not Found')

What are you looking for: l
Found at index:  4
Found at index:  6
Found at index:  8

In [54]:
resume = 'Python is powerful, Python is amazing, Python is the future, Python is Python'

lookingfor = input('What are you looking for: ')
flag = False
pos = -1
n = len(resume)
count = 0
while True:
    pos = resume.find(lookingfor,pos+1,n)
    if pos==-1:
        break
    else:
        print('Found at index: ', pos)
        flag=True
        count+=1
if flag==False:
    print('Not Found')
if count>2:
    print('Your resume is valid')
else:
    print('Your resume is invalid')

What are you looking for: Java
Not Found
Your resume is invalid

**Count()**

In [57]:
skill = input('Enter the skill you are looking for: ')
resume = 'Python is powerful, Python is amazing, Python is the future, Python is Python'
if resume.count(skill)>2:
    print('Your resume is valid')
else:
    print('Your resume is invalid')

Enter the skill you are looking for: Python
Your resume is valid

In [58]:
skill = input('Enter the skill you are looking for: ')
resume = 'Python is powerful, Python is amazing, Python is the future, Python is Python'
if resume.count(skill,50,100)>2:
    print('Your resume is valid')
else:
    print('Your resume is invalid')

Enter the skill you are looking for: Python
Your resume is invalid

In [59]:
resume.count(skill,50,100)

2

**replace()**

In [60]:
skill = input('What you want in the string: ')
resume = 'Python is powerful, Python is amazing, Python is the future, Python is Python'
resume.replace('Python',skill)

Enter the skill you are looking for: Java

'Java is powerful, Java is amazing, Java is the future, Java is Java'

**split()**

In [61]:
name = 'Rahul Tiwari Atharv'
name.split()

['Rahul', 'Tiwari', 'Atharv']

In [65]:
string = 'Rahul Tiwari is a data scientist'
string.split(' ',3)

['Rahul', 'Tiwari', 'is', 'a data scientist']

**Join()**

In [68]:
list1 = ['Rahul', 'Tiwari', 'Atharv']
'-'.join(list1)

'Rahul-Tiwari-Atharv'

**upper()**

In [69]:
string = 'Rahul Tiwari is a data scientist'
string.upper()

'RAHUL TIWARI IS A DATA SCIENTIST'

**lower()**

In [70]:
string = 'Rahul Tiwari is a data scientist'
string.lower()

'rahul tiwari is a data scientist'

**swapcase()**

In [71]:
string = 'Rahul Tiwari is a data scientist'
string.swapcase()

'rAHUL tIWARI IS A DATA SCIENTIST'

**title()**

In [72]:
string = 'Rahul Tiwari is a data scientist'
string.title()

'Rahul Tiwari Is A Data Scientist'

**capitalize()**

In [73]:
string = 'Rahul Tiwari is a data scientist'
string.capitalize()

'Rahul tiwari is a data scientist'

**startswith()**

In [76]:
string = 'Rahul Tiwari is a data scientist'
string.startswith('r')

False

**Endswith()**

In [79]:
string = 'Rahul Tiwari is a data scientist'
string.endswith('tist')

True

**isalnum(), isalpha(), isnumeric(), isupper(), islower(), istitle(), isspace()**

In [80]:
data = 'rahul123'
print(data.isalnum())
print(data.isalpha())
print(data.isnumeric())

True
False
False

In [81]:
data = 'rahul'
print(data.isalnum())
print(data.isalpha())
print(data.isnumeric())

True
True
False

In [82]:
data = '123'
print(data.isalnum())
print(data.isalpha())
print(data.isnumeric())

True
False
True

In [83]:
data = 'rahul'
data.islower()

True

In [84]:
data = 'RAHUL'
data.isupper()

True

In [85]:
data = 'Rahul'
data.istitle()

True

In [87]:
data = ' rahul tiwari'
data.isspace()

False

In [88]:
data = '  '
data.isspace()

True

In [89]:
data = 'rahul tiwari'
data[5].isspace()

True