# Flow Control

**if and else - Based on the satisfying conditions we can get the output**

**Syntax**

if condition:

    perform the task if the above condition is satisfied
    
else:

    perform the task if the if condition is not satisfied
    
**So the colon : is important after every condition and tab indentation is important as well**

In [5]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
    print('Hi')
else:
    print('You passed the exam')

Enter the marks: 54
You passed the exam

**File "C:\Users\rahul\AppData\Local\Temp\ipykernel_44752\979632592.py", line 3**

    print('You failed the exam')
    ^
    
**IndentationError: expected an indented block**

**After the condition all the lines should be in the tab indentation before else**

In [8]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
    print('Hi')
else:
    print('You passed the exam')   
    print('Hello')

Enter the marks: 54
You passed the exam
Hello

In [11]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
    print('Hi')
else:
    print('You passed the exam')   
#This hello is outside the if else block
print('Hello')

Enter the marks: 54
You passed the exam
Hello

In [14]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got an average marks')
else:
    print('You got excellent marks')

Enter the marks: 79
You got excellent marks

In [ ]:
if
elif
elif
.
.
.
.
.
else

In [17]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got an average marks')
elif marks>60:
    print('You got excellent marks')

Enter the marks: 76
You got excellent marks

**Banking Examples for If and Else**

1) Account Balance Check

In [19]:
account_balance = int(input('Enter the account balance: '))
if account_balance>0:
    print('Your account is in good standing')
else:
    print('Your account balance is negative, please take action')

Enter the account balance: 4550
Your account is in good standing

2) Loan Eligibility

In [22]:
income = int(input('Enter the income: '))
credit_score = int(input('Enter the credit score: '))

if income>50000 and credit_score>750:
    print('You are eligible for the loan, congratulations!!!')
else:
    print('You are not eligible for the loan, Sorry!!!')

Enter the income: 67000
Enter the credit score: 877
You are eligible for the loan, congratulations!!!

3) Withdrawal Limit Check

In [24]:
withdrawal_amount = int(input('Enter the amount you want to withdraw: '))
daily_limit = 1000

if withdrawal_amount<=daily_limit:
    print('Withdrawal Successful')
else:
    print('Withdrawal amount exceeds the daily limit')

Enter the amount you want to withdraw: 500
Withdrawal Successful

4) Transaction Fee Calculations - Nested If else

In [29]:
transaction_amount = int(input('Enter the transaction amount: '))
transaction_type = input('Enter the transaction type: ')

if transaction_type=='withdrawal':
    if transaction_amount>1000:
        transaction_fee = 5
    elif transaction_amount<=1000:
        transaction_fee = 2
elif transaction_type=='deposit':
    transaction_fee = 0
else:
    print('Please pass the correct option')
    
total_amount = transaction_amount+transaction_fee
print('Total amount: ', total_amount)

Enter the transaction amount: 4
Enter the transaction type: withdrawal
Total amount:  6

5) Tax calculator

In [37]:
income = int(input('Enter the salary: '))
if income>=0 and income<=2500:
    print('The total tax you have to pay is: ', income*0.00)
elif income>2500 and income<=5000:
    print('The total tax you have to pay is: ', income*0.05)
elif income>5000 and income<=10000:
    print('The total tax you have to pay is: ', income*0.10)
elif income>10000 and income<=20000:
    print('The total tax you have to pay is: ', income*0.20)
elif income>20000:
    print('The total tax you have to pay is: ', income*0.30)
else:
    print('Income cannot be negative')

Enter the salary: 25000
The total tax you have to pay is:  7500.0

**For Loops - When you want to iterate on something for example: Tuples, Lists, Sets, String....**

In [ ]:
for i in something:
    getoutput

In [39]:
stu_list = ['A','B','C','D','E']
for i in stu_list:
    print(i,end=' ')

A B C D E

In [42]:
for i in 'The Scholar':
    print(i,end='')

The Scholar

**Banking Example - For Loops**

1) Profit Ratio

In [51]:
sales = [3454,2234,5443,2321,444,566,7777,78888,88888,454543]
profit = [455,333,221,122,44,33,33,44,544,44]

**We cannot divide a list by list**

In [44]:
profit/sales

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [47]:
for i in [0,1,2,3]:
    print(profit[i]/sales[i])

0.13173132599884194
0.14905998209489704
0.040602608855410616
0.052563550193881946

In [54]:
profit_ratio = []
for i in range(len(sales)):
    profit_ratio.append(profit[i]/sales[i])

In [53]:
list(range(0,len(sales)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
profit_ratio

[0.13173132599884194,
 0.14905998209489704,
 0.040602608855410616,
 0.052563550193881946,
 0.0990990990990991,
 0.05830388692579505,
 0.004243281471004243,
 0.0005577527634114187,
 0.006120061200612006,
 9.68005227228227e-05]

2) Transaction History

In [56]:
transaction_history = [50,-20,100,-30,-10]
for i in transaction_history:
    if i>0:
        print('Deposit: ', i)
    else:
        print('Withdraw: ', abs(i))

Deposit:  50
Withdraw:  20
Deposit:  100
Withdraw:  30
Withdraw:  10

3) Account Summation

In [57]:
account_balance = [1000,2000,3000,2000,-5000,3000]
total_balance = 0
for balance in account_balance:
    total_balance+=balance
    
print('Total account balance:', total_balance )

Total account balance: 6000

4) Interest Calculation

In [58]:
account_balance = [1000,2000,3000,2000,5000,3000]
Interest_rate = 0.05

#for i in account_balance:
#    interest = Interest_rate*account_balance
#    account_balance[]
 
for i in range(len(account_balance)):
    interest = Interest_rate*account_balance[i]
    account_balance[i]+=interest
    
print('Updated account balance: ', account_balance)

Updated account balance:  [1050.0, 2100.0, 3150.0, 2100.0, 5250.0, 3150.0]

4) Account closure

In [60]:
account_numbers = [123456,345678,789012,901234]
account_to_close = int(input('Which account to close: '))

for account in account_numbers:
    if account==account_to_close:
        print('Closing account: ', account)
        account_numbers.remove(account)
        break
    else:
        print('Account not found')
        
print('Remaining account: ', account_numbers)

Which account to close: 901234
Account not found
Account not found
Account not found
Closing account:  901234
Remaining account:  [123456, 345678, 789012]

In [62]:
account_numbers = [123456,345678,789012,901234]
account_to_close = int(input('Which account to close: '))

for account in account_numbers:
    if account==account_to_close:
        print('Closing account: ', account)
        account_numbers.remove(account)
        break
        
print('Remaining account: ', account_numbers)

Which account to close: 901234
Closing account:  901234
Remaining account:  [123456, 345678, 789012]

5) Account Statement

In [63]:
account_transactions = [{'date':'2023-07-01', 'type':'Deposit', 'amount':100},
                        {'date':'2023-07-02', 'type':'Withdraw', 'amount':50},
                        {'date':'2023-07-03', 'type':'Deposit', 'amount':200},
                        {'date':'2023-07-04', 'type':'Withdraw', 'amount':75}]

In [73]:
print("Account Statement")
for transaction in account_transactions:
    print(transaction['date'],"-",transaction['type'],"-",transaction['amount'])

Account Statement
2023-07-01 - Deposit - 100
2023-07-02 - Withdraw - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdraw - 75

In [75]:
transaction_date = ['2023-07-01','2023-07-02','2023-07-03','2023-07-04']
transaction_type = ['Deposit','Withdraw','Deposit','Withdraw']
transaction_amount = [100,50,200,75]

for (td,tt,ta) in zip(transaction_date,transaction_type,transaction_amount):
    print(td,'-',tt,'-',ta)

2023-07-01 - Deposit - 100
2023-07-02 - Withdraw - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdraw - 75

In [76]:
transaction_date = ['2023-07-01','2023-07-02','2023-07-03','2023-07-04','2023-07-05']
transaction_type = ['Deposit','Withdraw','Deposit','Withdraw']
transaction_amount = [100,50,200,75]

for (td,tt,ta) in zip(transaction_date,transaction_type,transaction_amount):
    print(td,'-',tt,'-',ta)

2023-07-01 - Deposit - 100
2023-07-02 - Withdraw - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdraw - 75

In [77]:
sales = [3454,2234,5443,2321]
profit = [455,333,221]
profit_ratio = []
for i in range(len(sales)):
    profit_ratio.append(profit[i]/sales[i])

IndexError: list index out of range

**While Loops - It will run till the time your condition is satisfied**

In [ ]:
while condition:
    getoutput

**Below code will go for the infinite loop, because the condition will always be true**

In [78]:
#while 1==1:
#    print('Hi')

In [79]:
while 1==2:
    print('Hi')
print('Hello')

Hello

**Practical Example - While Loop**

1) Marketing campaign

In [80]:
coupouns = 5
utilized = 0 

while utilized<coupouns:
    print('There are total:', coupouns-utilized, 'coupouns left')
    utilized+=1
print('No coupouns left')

There are total: 5 coupouns left
There are total: 4 coupouns left
There are total: 3 coupouns left
There are total: 2 coupouns left
There are total: 1 coupouns left
No coupouns left

2) Factorial of a number

In [85]:
number = int(input('Enter the number: ')) 

if number<0:
    print('There is no factorial of a negative number')
else:
    result = 1 
    while number>=1:
        result = result*number
        number-=1
    print(result)

Enter the number: -10
There is no factorial of a negative number

3) Pin validation

In [88]:
correct_pin = 2222
max_attempts = 3
attempts = 0 

while attempts<max_attempts:
    pin = int(input('Enter your pin: '))
    if pin==correct_pin:
        print('Pin accepted, Access Granted')
        break
    else:
        attempts+=1
        print('Incorrect pin, Attempts remaining: ', max_attempts-attempts)
        
if attempts==max_attempts:
    print('Max attempts reached, access denied')

Enter your pin: 2222
Pin accepted, Access Granted

4) Account creation with unique account number

In [90]:
import random
existing_account_numbers = [1,5,7,9]
new_account_number = random.randint(1,9)

while new_account_number in existing_account_numbers:
    new_account_number = random.randint(1,9)
    
existing_account_numbers.append(new_account_number)    
print('Account created successfully, account number: ', new_account_number)
print('Account created successfully, account number: ', existing_account_numbers)

Account created successfully, account number:  8
Account created successfully, account number:  [1, 5, 7, 9, 8]

5) Money withdrawal with balance validation

In [91]:
account_balance = 1000
min_balance = 100

withdrawal_amount = float(input('Enter the amount to withdraw: '))

while withdrawal_amount>account_balance or withdrawal_amount<min_balance:
    if withdrawal_amount>account_balance:
        print("Insufficient funds, available balance: ", account_balance)
    else:
        print("Invalid withdrawal amount, minimum withdrawal amount is: ", min_balance)
    withdrawal_amount = float(input('Enter the amount to withdraw: '))
    
account_balance -= withdrawal_amount
print("Withdrawal successful: ", account_balance)

Enter the amount to withdraw: 2000
Insufficient funds, available balance:  1000
Enter the amount to withdraw: 50
Invalid withdrawal amount, minimum withdrawal amount is:  100
Enter the amount to withdraw: 200
Withdrawal successful:  800.0

6) Interest Calculation

In [95]:
initial_investment = int(input('Enter the amount which you need to invest: '))
interest_rate = float(input("Enter the interest rate: "))
duration = int(input("Enter the duration: "))
final_dur = duration
while duration>=1:
    interest = initial_investment*interest_rate
    initial_investment+=interest
    duration-=1
    
print("Final account balance: ", initial_investment, "after", final_dur, "years with the interest of ", interest_rate )

Enter the amount which you need to invest: 500000
Enter the interest rate: 0.10
Enter the duration: 10
Final account balance:  1296871.2300500001 after 10 years with the interest of  0.1